@import 'src/style/modules';

.variable-toolbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $g3-castle;
  font-size: 13px;
}

.variables-toolbar--list {
  padding-bottom: $ix-marg-a;
}

.variables-toolbar--item {
  position: relative;
}

.variables-toolbar--label,
.variables-toolbar--separator {
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: $ix-marg-b;
}

.variables-toolbar--label {
  font-family: 'RobotoMono', monospace;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $g4-onyx;
    color: $c-laser;
  }
}

.variables-toolbar--separator {
  background-color: $g6-smoke;
  font-weight: 600;
  color: $g18-cloud;
}

.variables-toolbar--tooltip {
  padding-right: 8px;
  max-width: 600px;
  position: fixed;
  transform: translateY(50%);
  z-index: 10;
}

.variables-toolbar--tooltip-caret {
  content: '';
  width: 0;
  height: 0;
  position: fixed;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $c-pool;
  margin-top: 9px;
  margin-left: -8px;
  z-index: 9999;
}

.variables-toolbar--tooltip-contents {
  border: $ix-border solid $c-pool;
  border-radius: $radius;
  width: 100%;
  max-width: 600px;
  display: inline-flex;
  align-items: center;
  background-color: $g1-raven;
  padding: 10px;

  article {
    margin-bottom: $ix-marg-c;
  }
}
